{% do view.registerAssetBundle("creode\\getaddressio\\assetbundles\\getaddressio\\GetAddressIoPostcodeLookupAsset") %}

{% set shouldShowLabel = showLabel|default(true) %}
{# Default can cause an issue since false == empty. So instead we use ?? workaround. #}
{% set shouldShowLabelAbove = showLabelAbove ?? true %}
{% if shouldShowLabel and shouldShowLabelAbove %}
    <label for="{{ fieldId|default('get-address-lookup-field') }}" class="{{ fieldLabelClasses|default('') }}">{{ fieldLabelText|default('Postcode') }}</label>
{% endif %}

<div class="get-address-io-postcode-lookup-wrapper">
    <div class="postcode-lookup-field">
        <input id="{{ fieldId|default('get-address-lookup-field') }}" name="{{ fieldName|default('get-address-io-postcode-lookup') }}" type="text" class="{{ fieldClasses|default('get-addres-io-postcode-lookup-field') }}" placeholder="{{ fieldPlaceholder|default('Enter your postcode') }}" value="{{ fieldValue|default('') }}" />
        <a href="#" class="get-address-io-postcode-lookup-btn search-btn"></a>
    </div>

    {% block belowPostcode %}{% endblock %}

    {% if shouldShowLabel and shouldShowLabelAbove == false %}
        <label for="{{ fieldId|default('get-address-lookup-field') }}" class="{{ fieldLabelClasses|default('') }}">{{ fieldLabelText|default('Postcode') }}</label>
    {% endif %}

    <select class="get-address-io-address-select" name="{{ addressFieldName|default('get-address-io-postcode-lookup') }}">
        <option value="">{{ 'Please select an addresses from the list...'|t }}</option>
    </select>
</div>

{% include '_get-address-io/_components/_set-js-csrf-token' %}
